<div class="scrollable">
  <div class="scrollable-content" style="padding-bottom: 80px">
    <div class="list-group text-center">
      <div class="col-md-12">
        <p>Nastroika Dostupa</p>
      </div>
    </div>
  </div>
</div>
