<div class="scrollable">
  <div class="scrollable-content" style="padding-bottom: 80px">
    <div class="list-group text-center">
      <div class="col-md-12">
        <form role="form" class="" method="POST" ng-submit="depositSend()">
          <h3>Deposit</h3>
          <div class="form-group">
            <label class="h4">Sum</label>
            <input type="email" ng-model="deposit.sum" class="form-control h4 input-lg" placeholder="Enter Sum">
            <p class="help-block bg-error">
              <span ng-show="invalidSum" style="">{{invalidSumMsg}}</span>
            </p>
          </div>
          <button type="submit" class="btn btn-default btn-lg">Deposit</button>
        </form>
      </div>
    </div>
  </div>
</div>
