<div class="scrollable">
    <div class="scrollable-content" style="padding-bottom: 80px">
        <div class="list-group text-center">
            <div class="col-md-12">
                <p class="small" ng-hide="auth">Not play but earn money</p>
            </div>
            <div class="col-lg-3 col-sm-6 col-sm-12">
                <div class="block-radius">
                    <br>
                    <h3 class="">My balance</h3>
                    <h2 class="" ng-model="userBalance">22000 РУБ</h2>
                    <br>
                </div>
            </div>
            <div class="razdeliteli"></div>
            <div class="col-lg-3 col-sm-6 col-sm-12">
                <div class="block-radius">
                    <br>
                    <div class="big-font">
                        <span class="col-md-2 col-md-offset-3 currency">RUB</span>
                        <span class="col-md-4 balance">31.31</span>
                        <span class="col-md-2"><i class="fa fa-arrow-up text-success"></i></span>
                    </div>
                    <div class="clearfix"></div>
                    <p class="small text-success">+0.34 (+0.56%)</p>
                    <div class="big-font">
                        <span class="col-md-2 col-md-offset-3 currency">RUB</span>
                        <span class="col-md-4 balance">31.31</span>
                        <span class="col-md-2"><i class="fa fa-arrow-down text-danger"></i></span>
                    </div>
                    <div class="clearfix"></div>
                    <p class="small text-danger">+0.34 (+0.56%)</p>
                    <br>
                    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-2">
                        <button class="btn btn-default btn-block">
                            <span class="medium-font">
                                Change
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-xs-12 col-md-12">
                <button class="btn btn-default h3" ng-click="refresh()">
                    Refresh
                </button>
                <button class="btn btn-default h3" ng-click="go('/deposit')">
                    Пополнить
                </button>
                <button class="btn btn-default h3" ng-click="go('/withdrawal')">
                    Change
                </button>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-xs-12 col-md-12">
                <div class="alert alert-success">
                    <a href="#" class="close" ng-click="closeSuccessAlert()" data-dismiss="alert" aria-label="close">&times;</a>
                    <div class="socialShare">
                        <span class="socialButton">
                            <i class="fa fa-twitter fa-2x icon-border wh45 text-center" style="line-height: 45px"></i>
                        </span>
                        <span class="socialButton">
                            <i class="fa fa-facebook fa-2x icon-border wh45 text-center" style="line-height: 45px"></i>
                        </span>
                        <span class="socialButton">
                            <i class="fa fa-vk fa-2x icon-border wh45 text-center" style="line-height: 45px"></i>
                        </span>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-xs-12 col-md-12 tol_leader">
                <br>
                <span class="text-left h4">Top 5 user earn</span>
                <ul class="list-group text-left">
                    <li class="list-group-item">Name <span class="text-success">+3500p</span></li>
                    <li class="list-group-item">Name <span class="text-success">+3500p</span></li>
                    <li class="list-group-item">Name <span class="text-success">+3500p</span></li>
                    <li class="list-group-item">Name <span class="text-success">+3500p</span></li>
                    <li class="list-group-item">Name <span class="text-success">+3500p</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

