<div class="modal " ui-if='modalWithdrawal' ui-state='modalWithdrawal'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog modal-sm customModal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>{{lorem}}</p>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="modalWithdrawal" class="btn btn-default">Close</button>
        <button ui-turn-off="modalWithdrawal" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
