<div class="scrollable" style="background-color: #493d55">
    <h1 class="scrollable-header app-name">INVESTPROFIT.NET</h1>
    <div class="scrollable-content">
        <div class="panel-body">
            <ul id="navigation">
                <li><a href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a></li>
                <li><a href="#/access-settings">Nastroika Dostupa <i class="fa fa-chevron-right pull-right"></i></a></li>
                <li><a href="#/toggle">Sprafca <i class="fa fa-chevron-right pull-right"></i></a></li>
                <li><a href="#/tabs">Poleznaiea informatiea <i class="fa fa-chevron-right pull-right"></i></a></li>
                <li><a href="#/accordion">Sveazi <i class="fa fa-chevron-right pull-right"></i></a></li>
                <li><a href="/logout">Logout <i class="fa fa-chevron-right pull-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>
