<div class="scrollable" style="background-color: #493d55">
    <h1 class="scrollable-header app-name text-center">INVESTPROFIT.NET</h1>
    <div class="scrollable-content">
        <div class="panel-body text-center">
            <form role="form" class="" ng-show="loginForm" method="POST" ng-submit="loginSend()">
                <h3>From Login</h3>
                <div class="form-group">
                    <label class="h4" for="loginInputEmail1">Email address</label>
                    <input type="email" ng-model="login.email" class="form-control h4 input-lg" name="email" id="loginInputEmail1" placeholder="Enter email">
                    <p class="help-block bg-error">
                        <span ng-show="invalidEmail" style="">{{invalidEmailMsg}}</span>
                    </p>
                </div>
                <div class="form-group">
                    <label class="h4" for="loginInputPassword1">Password</label>
                    <input type="password" ng-model="login.password" class="form-control h4 input-lg" name="password" id="loginInputPassword1" placeholder="Password">
                    <p class="help-block bg-error">
                        <span ng-show="invalidPassword" style="">{{invalidPasswordMsg}}</span>
                    </p>
                </div>
                <button type="submit" class="btn btn-default btn-lg">Login</button>
                <button type="button" ng-click='regFormShow()' class="btn btn-default btn-lg">Register</button>
            </form>
            <form role="form" class="" ng-show="registerForm" method="POST" ng-submit='regFormSend()'>
                <h3>From Register</h3>
                <div class="form-group">
                    <label class="h4" for="registerInputEmail1">Email address</label>
                    <input type="email" ng-model="reg.email" class="form-control h4 input-lg" name="email" id="registerInputEmail1" placeholder="Enter email">
                    <p class="help-block bg-error">
                        <span ng-show="invalidEmailReg" style="">{{invalidEmailMsgReg}}</span>
                    </p>
                </div>
                <div class="form-group">
                    <label class="h4" for="registerInputPassword1">Password</label>
                    <input type="password" ng-model="reg.password" class="form-control h4 input-lg" name="password" id="registerInputPassword1" placeholder="Password">
                    <p class="help-block bg-error">
                        <span ng-show="invalidPasswordReg" style="">{{invalidPasswordMsgReg}}</span>
                    </p>
                </div>

                <div class="form-group">
                    <label class="h4" for="registerInputPasswordConfirmation">Password Confirmation</label>
                    <input type="password" ng-model="reg.password_confirmation" class="form-control h4 input-lg" name="password" id="registerInputPasswordConfirmation" placeholder="Password">
                    <p class="help-block bg-error">
                        <span ng-show="invalidPassConfReg" style="">{{invalidPassConfMsgReg}}</span>
                    </p>
                </div>
                <button type="button" ng-click='loginShow()' class="btn btn-default btn-lg">Login</button>
                <button type="submit" class="btn btn-default btn-lg">Register</button>
            </form>
        </div>
    </div>
</div>
