<div class="scrollable">
  <div class="scrollable-content" style="padding-bottom: 80px">
    <div class="list-group text-center">
      <div class="col-md-12">
        <form role="form" class="" method="POST" ng-submit="depositSend()">
          <h3>Withdrawal</h3>
          <div class="form-group">
            <label class="h4">Detail Account</label>

          </div>
          <button type="button" ui-turn-on="modalWithdrawal" class="btn btn-default btn-lg">Deposit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div ui-content-for="modals">
  <div ng-include="'templateApp/modalWithdrawal.html'"></div>
</div>